*{
    padding: 0;
    margin: 0;
}
.wrapper {
    margin: auto;
    width: 60%;
    height: 60%;
}
table {
    border-style: solid;
    border-color: black;
}
.header {
    border-style: solid;
    border-color:black;
}
.row1 {
    background-color: blanchedalmond;
}